/* html{
  background-color: #CCC;
  font-size:55pt ;
  
} */

canvas {
  display: block;
  margin:0 auto;
  position:relative;
  

}

/* .qsd{
  margin-left:auto;
  display:block;
  margin:0 auto;
  position:relative;
    
    
} */




/* 
.chart-container{
  display:block;
  margin:0 auto;
  position:relative;
  height:500px; 
  width:800px;
}
@media only screen and (max-width:900px) {
  .chart-container{
      width: 90%;
      height:45%;
  }
} */